.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: minmax(550px, auto);
}

.wrapper #sidebar {
  font-family: "Helvetica Neue", Helvetica, Arial;
  background: #151718;
  color: #ccc;
}

.wrapper #sidebar ul {
  margin: 0;
  padding: 0;
}

.wrapper #sidebar ul li {
  list-style: none;
}

.wrapper #sidebar ul li a {
  background: #1c1e1f;
  color: #ccc;
  border-bottom: 1px solid #111;
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

.dropdown-menu {
  background: #1c1e1f;
}

.wrapper #sidebar ul li .dropdown .dropdown-menu .dropdown-item {
  border-bottom: none;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  cursor: pointer;
}

.wrapper #page-content {
  background: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background: #ddd;
}
