@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: minmax(550px, auto);
  }
}

@media screen and (max-width: 768px) {
  .wrapper #sidebar {
    border-bottom: grey 4px solid;
  }
}

.wrapper #sidebar {
  font-family: "Helvetica Neue", Helvetica, Arial;
  background: #151718;
  color: #ccc;
}

.wrapper #sidebar ul {
  margin: 0;
  padding: 0;
}

.wrapper #sidebar ul li {
  list-style: none;
}

.wrapper #sidebar ul li a {
  background: #1c1e1f;
  color: #ccc;
  border-bottom: 1px solid #111;
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

.dropdown-menu {
  background: #1c1e1f;
}

.wrapper #sidebar ul li .dropdown .dropdown-menu .dropdown-item {
  border-bottom: none;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  cursor: pointer;
}

.wrapper #page-content {
  background: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background: #ddd;
}

.display-4 {
  font-size: 5vw;
}

/* CHATBOX */
.chat .chatbox {
  height: 500px;
  background: seashell;
  color: #111;
  border: goldenrod 3px solid;
  border-radius: 2.5em;
}

#chat-body {
  height: 420px;
  margin-bottom: 2%;
  border-bottom: goldenrod 1px solid;
  overflow: scroll;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.msg-box {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-column-gap: 0.5em;
}

/* 
.msg-body {
  border: goldenrod 1px solid;
  border-radius: 0.5rem;
} */

.msg-body p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.msg-body p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

.speech-bubble {
  position: relative;
  background: #1d989e;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-right-color: #1d989e;
  border-left: 0;
  border-bottom: 0;
  margin-top: -17.5px;
  margin-left: -35px;
}

.myMsg {
  color: #17a2b8;
}
